@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h3{
    font-family: 'sacramento',cursive;
}

*{
    margin:0;    
}
body{

    width: 100%;
    height: 100%;
}
.app{
    text-align: center;
  
}